/* body{
    background-color: rgb(77, 185, 231);
    
}
button{
    background-color: rgb(255, 119, 0);
    padding-left:  50px;
}

.mb-3{
    padding-right: 10px;
}
 */
.text-black{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.container{
    display: flex;
    text-align: center;
    border: 0.5px solid black;
}
form{
    border: 0.5px solid black;
    margin: 100px;
    padding: 100px;
}

