body{
    padding: 80px;
}
span{
    color: red;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.form-group input {
    flex: 1;
}

.text-center{
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 30px;
}

.text-danger{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}
.btn {
    flex: 0.1;
}

.userlist{
    font-weight: bold;
    margin-top: 70px;
}