*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#background{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#main{
    width: 80%;
    margin: 0 auto;
}

.img_bg {
    background-image: url("/Ex_7-11/img/app.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_bg >div{
    margin: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem;
}

.img_bg .right {
    width: 300px;
}
.img_bg .right h3{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.6rem;
}
.img_bg .right h4{
    font-size: 0.6rem;
    font-weight: 300;
    padding: 1rem;
}
.img_bg .right button{
    width: 100%;
    background-color: rgb(105, 152, 94);
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
}

.img_bg .button p{
    font-size: 0.9rem;
}

#download{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    padding: 30px 10px;
}

#download .content h2{
    font-weight: 500;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
#download .content h3{
    color: rgb(76, 174, 78);
    font-size: 2rem;
    margin-bottom: 2rem;
}
#download .content h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    margin-right: 4rem;
}
#download .content button{
    cursor: pointer;
    padding: 8px 15px;
    background-color: rgb(241, 241, 241);
    border: none;
    margin-bottom: 1.6rem;
}
#download .img img{
    width: 250px;
    height: auto;
}

#clarity{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #f1f1f1;
    padding: 30px 10px;
}
#clarity .img img{
    width: 250px;
    height: auto;
}

#clarity .content{
    padding-left: 5rem;
    padding-top: 3rem ;
}

#clarity .content h2{
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
#clarity .content h3{
    color: red;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#clarity .content h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

#features{
    background-color: #616161;
    color: #fff;
    padding: 40px;
}

#features .title h2{
    text-align: center;
    font-size: 2.6rem;
    padding-bottom: 2rem;
}
#features .title p{
    text-align: center;
}
#features .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#features .item .element{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

#features .item .element p{
    padding-top: 1rem;
}

/* --- */
#pricing{
    background-color: #fff;
    padding: 40px 10px;
}
#pricing .title h2{
    text-align: center;
    font-size: 2.6rem;
    padding-bottom: 1.5rem;
}
#pricing .title p{
    text-align: center;
}

#pricing #price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pricing #price >div{
    margin-top: 3rem;
    width: 49%;
}

#pricing #price #basic div,
#pricing #price #premium div
{
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0px;
}

#pricing #price #basic .title{
    background-color: rgb(97, 97, 97);
}

#pricing #price #premium .title{
    background-color: red;
}

#pricing #price .title h4{
    color: #fff;
    padding: 1rem;
}

#pricing #price .content h4{
    font-weight: 300;
}
#pricing .content_price h4{
    font-size: 2rem;
    font-weight: 100;
    color: #616161;
}

#pricing #price .down button{
    background-color: black;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border: none;
}

/* ---------------- */
footer{
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 3rem;
}
