/* .form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
  /* require */
/* button{
    background-color: green !important;
}

::placeholder {
    color: lightgray;
}
.background-title{
    background-color: rgb(245, 245, 245);
}

.background-while{
    background-color: #fff;
}

.color-border{
    border: 1px #ececec solid;
}
 */ 

 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bgc-primary{
  background-color: rgb(248, 248, 248);
}

.bgc-secondary{
  background-color: rgb(255, 255, 255);
}

.color-border{
  border: 1px #ececec solid;
}

.active{
  background-color: rgb(238, 238, 238);
}

.background-title{
  background-color: rgb(245, 245, 245);
}

.background-while{
  background-color: #fff;
}

.text-color{
  color: rgb(97, 146, 192);
}

.profile:hover{
  background-color: rgb(238, 238, 238);
}

button{
  background-color: green !important;
}

::placeholder {
  color: lightgray;
}
