table, td, th {
    border: 1px solid;
}
  
table {
    width: 90%;
    border-collapse: collapse;
    
}
.tb{
    display: flex;
}
td{
    padding-left: 10px;
}
.design{
    text-align: end;
    padding-right: 10px;
}
.form-inline{
    display: flex;
    height: 30px;
}

.form-inline input{
    width: 50px;
    border: 1px solid rgb(167, 167, 167);
}
.form-inline button{
    width: 30px;
    border: 1px solid rgb(167, 167, 167);
}
.xoa{
    background-color: red;
}