.dotted-line {
    border-top: 2px dotted red;
  }
  body {
    background-color: #f2f3f5;
    /* Màu nền của trang */
    color: #9b9b9b;
    /* Màu chữ chính */
    font-family: Helvetica, sans-serif;
    /* Font chữ chính */
    font-size: 15px;
    /* Kích thước chữ chính */
    line-height: 1.8;
    /* Chiều cao dòng chính */
}
h2 {
    color: #1f1f1f;
    font-size: 38px;
    /* Kích thước chữ cho tiêu đề h2 */
    margin-bottom: 10px;
    /* Khoảng cách phía dưới cho tiêu đề h2 */
}
h3 {
    color: #1f1f1f;
    /* Màu chữ cho tiêu đề h2 */
    font-size: 35px;
    /* Kích thước chữ cho tiêu đề h2 */
    margin-bottom: 10px;
    /* Khoảng cách phía dưới cho tiêu đề h2 */
}
h4 {
    color: #1f1f1f;
    /* Màu chữ cho tiêu đề h3 */
    font-size: 25px;
    /* Kích thước chữ cho tiêu đề h3 */
    line-height: 1.2;
    /* Chiều cao dòng cho tiêu đề h3 */
    margin-bottom: 10px;
    /* Khoảng cách phía dưới cho tiêu đề h3 */
}