li {
    list-style: none;
    margin: 5px;
}
body {
    color: #a6a6a6;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 30px auto;
}
h2 em{
    background-color: #01bacf;
    color: #fff;
    display: inline-block;
    font-style: normal;
    padding: 0 10px;
}
.col-md-9 h2{
    color: black;
    margin-top: 20px;
    font-weight: bold;
}
.learnmore{
    background-color: #01bacf;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 48px;
    padding: 0 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    border: none;
}
i {
    font-size: 14px;
    margin-right: 7px;
}
.col-md-9 p{
    margin-top: 25px;

}
.col-md-4{
    margin-top: 35px;
}
